<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Welcome to QR Code Login App</ion-card-subtitle>
        <ion-card-title>{{welcomeName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created and you can login your website account with below button.</p>
      </ion-card-content>
    </ion-card>
	<button ion-button block class="login-button" (click)="openQrPage()">QR Login</button>
	<ion-button fill="clear" expand="block" color="primary" (click)="logout()">Logout</ion-button>
</ion-content>
